.gallery-container h2 {
    color: var(--text);
}

.gallery-container img {
    width: 200px;
    cursor: pointer;
    filter: grayscale(1);
}

.gallery-container img:hover {
    transition: 0.5s;
    filter: unset;
}

